<html>
<head>
<title>Welcome :D </title>
</head>
<body>
<p> <%= link_to "Check current status", {:action => 'list' }%></p>
<p> <%= link_to "Add engeener", {:controller => 'login', :action => 'add_engeener'} %></p>
<p> <%= link_to "Change my status", {:controller => 'login', :action => 'edit', :id => session[:engeener_id] }%></p>
<p> <%= link_to "Show work report", {:controller => 'status', :action => 'report' }%> </p>
<p> <%= link_to "Logout", {:controller => 'login', :action => 'logout'} %> </p>

</body>
</html>
