<htmL>

<head><title> Engeeners list </title> </head>

<body>

<p> <%= link_to "Back to homepage", {:controller => 'status', :action => 'home'} %> </p>

<br>

<% if @lenie.blank? %>
<p>There are not any engeeners currently in the system.</p>
<% else %>
<h1>Current status</h1>
<br>

<p> You can send an email using an icon next to the name. Last icon of each line shows current status: </br>
<img src="/images/icon_unavailable.gif" alt="Busssy"> means that engeener is bussy </br>
<img src="/images/icon_available.gif" alt="Busssy"> means that he's free
</p>
<br><br>


<table>
<% @lenie.each do |c| %>
<tr>
  <td> <% to = c.imie + " " + c.nzwisko -%> <%= link_to to, {:action => 'user', :id => c.id} -%> </td>
  <td> <%= mail_to c.email, image_tag("/images/mail.gif", :border => 0) -%> </td>
  <td>
    <% if c.status %>
         <img src="/images/icon_unavailable.gif" border="0" alt="Bussy">
    <% else %>
         <img src="/images/icon_available.gif" border="0" alt="Free">
    <% end %>
  </td>
<% end %>
<% end %>
</tr>
</table>
</body>
</html>
