
<div id="mainContainer">
<br>
<h1>Edit engeener status</h1>
<br>
This page allows you to change your current status.
<br>
<% form_tag :controller => 'login', :action => 'update', :id => @engeener do -%>

  <label for="status">Use this checkbox to change your status &nbsp;</label>
  <%= check_box 'engeener', 'status' %></p>
  <%= submit_tag "Save changes" %>
  
<% end -%>
</div>
